.App {
  text-align: center;
}

.header{
  background:#99BBff
}

.employee-row:nth-of-type(2n){
  background:#ddeeff;
}

.smlabel{
  font-weight:bold;
  margin-right:20px;
}

.fas:hover{
  color:#fff;
}

.personThumb{
  position:absolute;
  top:-36px;
  left:10px;
  border-radius:100%;
  box-shadow:0 0 3px rgba(0,0,0,1)
}

.personCard{
  padding-top:30px;
  width:300px;
  border-left:7px solid #0000ff;
}