.App {
  text-align: center;
}

.header{
  background:#41337A;
  color: #EFF7EE;
}

.fas:hover{
  color:#fff;
}

.personThumb{
  position:absolute;
  top:-36px;
  left:10px;
  border-radius:100%;
  box-shadow:0 0 3px 3px #FFFFFF;
}

.personCard{
  display:inline-block;
  margin:30px;
  text-align:left;
  padding-bottom:8px;
  padding-top:38px;
  width:300px;
  border-left:7px solid #6EA4BF;
  background:#EFF7EE;
  color:#331E36;
  box-shadow:4px 2px 10px -4px #331E36;
}

.blue{
  color:#6EA4BF;
  margin-left:5px;
  margin-right:3px;
}

.personCard hr{
  width:80%;
  margin:4px;
  margin-left:auto;
  margin-right:auto;
  background-color:#6EA4BF;
}